.suggest {
  top: 7px;
  z-index: 30;
  text-align: left;

  & > .dropdown-menu {
    margin-top: 15px;
    position: absolute;
  }

  & > .dropdown-menu > a.dropdown-item {
    border-top: 1px solid $gray-200;
    padding: 5px 10px;
  }

  & > .dropdown-menu > a.dropdown-item:first-child {
    border-top: 0;
  }
}
