.bs-stepper .step-trigger {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgba($black, 0.7);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bs-stepper .step-trigger:disabled,
.bs-stepper .step-trigger.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.bs-stepper .step-trigger:focus {
  color: $blue;
  outline: none;
}

.bs-stepper .step-trigger:hover {
  text-decoration: none;
  color: $blue;
  background-color: transparent;
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    flex-direction: column;
    padding: 10px;
  }
}

.bs-stepper-label {
  display: inline-block;
  margin: 0.25rem;
}

.bs-stepper-header {
  display: flex;
  align-items: center;
}

@media (max-width: 520px) {
  .bs-stepper-header {
    margin: 0 -10px;
    text-align: center;
  }
}

.bs-stepper-line,
.bs-stepper .line {
  flex: 1 0 32px;
  min-width: 1px;
  min-height: 1px;
  margin: auto;
  background-color: rgba($black, 0.2);
}

.bs-stepper-line.crossed,
.bs-stepper .line.crossed {
  background-color: $blue;
}

@media (max-width: 400px) {
  .bs-stepper-line,
  .bs-stepper .line {
    flex-basis: 20px;
  }
}

.bs-stepper-circle {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin: 0.25rem;
  line-height: 12px;
  color: $gray-500;
  background-color: $white;
  border: 1px solid $gray-500;
  border-radius: 1em;
}

.active {
  .bs-stepper-circle {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }
  .bs-stepper-label {
    color: $blue;
  }
}

.bs-stepper-content {
  padding: 0 20px 20px;
}

@media (max-width: 520px) {
  .bs-stepper-content {
    padding: 0;
  }
}

.bs-stepper.vertical {
  display: flex;
}

.bs-stepper.vertical .bs-stepper-header {
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

.bs-stepper.vertical .bs-stepper-pane,
.bs-stepper.vertical .content {
  display: block;
}

.bs-stepper.vertical .bs-stepper-pane:not(.fade),
.bs-stepper.vertical .content:not(.fade) {
  display: block;
  visibility: hidden;
}

.bs-stepper-pane:not(.fade) {
  display: none;
}

.bs-stepper .content:not(.fade) {
  display: none;
}

.bs-stepper .content.fade {
  visibility: hidden;
}

.bs-stepper-pane.fade {
  visibility: hidden;
}

.bs-stepper-pane.fade.active {
  visibility: visible;
  opacity: 1;
}

.bs-stepper .content.fade.active {
  visibility: visible;
  opacity: 1;
}

.bs-stepper-pane.active:not(.fade),
.bs-stepper .content.active:not(.fade) {
  display: block;
  visibility: visible;
}

.bs-stepper-pane.dstepper-block {
  display: block;
}

.bs-stepper .content.dstepper-block {
  display: block;
}

.bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
.bs-stepper:not(.vertical) .content.dstepper-none {
  display: none;
}

.vertical .bs-stepper-pane.fade.dstepper-none,
.vertical .content.fade.dstepper-none {
  visibility: hidden;
}

.crossed .bs-stepper-circle {
  position: relative;
}

.crossed .bs-stepper-circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "\f00c";
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free" !important;
  line-height: 1;
  z-index: 1;
  color: $blue;
  border: 1px solid $blue;
  background-color: $blue;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  line-height: 28px;
}
