$TimelineTailColor: $gray-300;

.timeline,
.timeline-item {
  margin: 0;
  font-size: 14px;
  list-style: none;
}
.timeline {
  box-sizing: border-box;
  color: #455560;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum";
  padding: 0;
  &.timeline-alternate {
    .timeline-item-right {
      .timeline-item-content {
        width: calc(50% - 14px);
        margin: 0;
        text-align: right;
      }
    }
  }
  &.timeline-right {
    .timeline-item-right {
      .timeline-item-content {
        margin: 0;
        text-align: right;
        width: calc(100% - 18px);
      }
    }
  }
  &.timeline-label {
    .timeline-item-right {
      .timeline-item-content {
        width: calc(50% - 14px);
        margin: 0;
        text-align: right;
      }
      .timeline-item-label {
        left: calc(50% + 14px);
        width: calc(50% - 14px);
        text-align: left;
      }
    }
    .timeline-item-label {
      position: absolute;
      top: -6px;
      width: calc(50% - 14px);
      text-align: right;
    }
  }
  &.timeline-pending {
    .timeline-item-last {
      .timeline-item-tail {
        display: block;
        height: calc(100% - 14px);
        border-left: 2px dotted $TimelineTailColor;
      }
    }
  }
  &.timeline-reverse {
    .timeline-item-last {
      .timeline-item-tail {
        display: none;
      }
    }
    .timeline-item-pending {
      .timeline-item-tail {
        top: 15px;
        display: block;
        height: calc(100% - 15px);
        border-left: 2px dotted $TimelineTailColor;
      }
      .timeline-item-content {
        min-height: 48px;
      }
    }
  }
}
.timeline-item {
  position: relative;
  padding-bottom: 20px;
}
.timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: calc(100% - 10px);
  border-left: 2px solid $TimelineTailColor;
  border-left-style: dashed;
  border-color: $TimelineTailColor;
}
.timeline-item-pending {
  .timeline-item-head {
    font-size: 12px;
    background-color: transparent;
  }
}
.timeline-item-last > .timeline-item-tail,
.timeline-item-pending .timeline-item-tail {
  display: none;
}
.timeline-item-head {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid $blue;
  border-radius: 100%;
  @each $color, $value in $theme-colors {
    &.text-#{$color} {
      border-color: $value;
    }
  }
  &.timeline-item-head-md {
    font-size: 1.5rem;
  }
  &.timeline-item-head-lg {
    font-size: 2rem;
  }
}
.timeline-item-head-custom {
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 3px 1px;
  line-height: 1;
  text-align: center;
  border: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.timeline-item-content {
  position: relative;
  top: -6px;
  margin: 0 0 0 26px;
  word-break: break-word;
}
.timeline-item-last {
  & > .timeline-item-content {
    min-height: 48px;
  }
}
.timeline.timeline-alternate .timeline-item-head,
.timeline.timeline-alternate .timeline-item-head-custom,
.timeline.timeline-alternate .timeline-item-tail,
.timeline.timeline-label .timeline-item-head,
.timeline.timeline-label .timeline-item-head-custom,
.timeline.timeline-label .timeline-item-tail,
.timeline.timeline-right .timeline-item-head,
.timeline.timeline-right .timeline-item-head-custom,
.timeline.timeline-right .timeline-item-tail {
  left: 50%;
}
.timeline.timeline-alternate .timeline-item-head,
.timeline.timeline-label .timeline-item-head,
.timeline.timeline-right .timeline-item-head {
  margin-left: -4px;
}
.timeline.timeline-alternate .timeline-item-head-custom,
.timeline.timeline-label .timeline-item-head-custom,
.timeline.timeline-right .timeline-item-head-custom {
  margin-left: 1px;
}
.timeline.timeline-alternate .timeline-item-left .timeline-item-content,
.timeline.timeline-label .timeline-item-left .timeline-item-content,
.timeline.timeline-right .timeline-item-left .timeline-item-content {
  left: calc(50% - 4px);
  width: calc(50% - 14px);
  text-align: left;
}
.timeline.timeline-right .timeline-item-right .timeline-item-head,
.timeline.timeline-right .timeline-item-right .timeline-item-head-custom,
.timeline.timeline-right .timeline-item-right .timeline-item-tail {
  left: calc(100% - 4px - 2px);
}
.timeline-rtl {
  direction: rtl;
  .timeline-item-tail {
    right: 4px;
    left: auto;
    border-right: 2px solid $TimelineTailColor;
    border-left: none;
  }
  .timeline-item-head-custom {
    right: 5px;
    left: auto;
    transform: translate(50%, -50%);
  }
  .timeline-item-content {
    margin: 0 18px 0 0;
  }
  &.timeline {
    &.timeline-right {
      .timeline-item-right {
        .timeline-item-content {
          width: 100%;
          margin-right: 18px;
          text-align: right;
        }
      }
    }
    &.timeline-label {
      .timeline-item-right {
        .timeline-item-label {
          right: calc(50% + 14px);
          text-align: right;
        }
      }
    }
  }
}
.timeline-rtl.timeline.timeline-alternate .timeline-item-head,
.timeline-rtl.timeline.timeline-alternate .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-alternate .timeline-item-tail,
.timeline-rtl.timeline.timeline-label .timeline-item-head,
.timeline-rtl.timeline.timeline-label .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-label .timeline-item-tail,
.timeline-rtl.timeline.timeline-right .timeline-item-head,
.timeline-rtl.timeline.timeline-right .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-right .timeline-item-tail {
  right: 50%;
  left: auto;
}
.timeline-rtl.timeline.timeline-alternate .timeline-item-head,
.timeline-rtl.timeline.timeline-label .timeline-item-head,
.timeline-rtl.timeline.timeline-right .timeline-item-head {
  margin-right: -4px;
  margin-left: 0;
}
.timeline-rtl.timeline.timeline-alternate .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-label .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-right .timeline-item-head-custom {
  margin-right: 1px;
  margin-left: 0;
}
.timeline-rtl.timeline.timeline-alternate
  .timeline-item-left
  .timeline-item-content,
.timeline-rtl.timeline.timeline-label
  .timeline-item-left
  .timeline-item-content,
.timeline-rtl.timeline.timeline-right
  .timeline-item-left
  .timeline-item-content {
  right: calc(50% - 4px);
  left: auto;
  text-align: right;
}
.timeline-rtl.timeline.timeline-alternate
  .timeline-item-right
  .timeline-item-content,
.timeline-rtl.timeline.timeline-label .timeline-item-label,
.timeline-rtl.timeline.timeline-label
  .timeline-item-right
  .timeline-item-content {
  text-align: left;
}
.timeline-rtl.timeline.timeline-right .timeline-item-right .timeline-item-head,
.timeline-rtl.timeline.timeline-right
  .timeline-item-right
  .timeline-item-head-custom,
.timeline-rtl.timeline.timeline-right .timeline-item-right .timeline-item-tail {
  right: 0;
  left: auto;
}
.timeline-rtl.timeline.timeline-pending .timeline-item-last .timeline-item-tail,
.timeline-rtl.timeline.timeline-reverse
  .timeline-item-pending
  .timeline-item-tail {
  border-right: 2px dotted $TimelineTailColor;
  border-left: none;
}
