.custom-input-timepicker-div {
  position: absolute;
  z-index: 5;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  border-color: #cccccc;
  background-color: white;
  width: 10rem !important;
  z-index: 30;
  div {
    margin: 0.2rem 0;
  }
}