.jstree ul {
  margin: 0;
  padding: 0 0 0 24px;
  font-size: 0.8125rem;
  list-style: none inside;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jstree ul .jstree-node {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 1.25rem;
  border-top: 2px solid transparent;
  transition: border 0.3s ease;
}
.jstree ul .jstree-node .jstree-ocl {
  position: relative;
  cursor: pointer;
  padding-right: 1.5rem !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 5px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 24px;
  height: 24px;
}
.jstree ul .jstree-node .jstree-ocl::before {
  display: block;
  position: absolute;
  vertical-align: middle;
  color: transparent;
  font-size: 0;
  content: "";
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #1d1d1d;
  top: 50%;
  left: 100%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform-origin: center center 1px;
  transform-origin: center center 1px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.jstree ul .jstree-node.jstree-open > .jstree-ocl::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.jstree ul .jstree-node.jstree-leaf .jstree-ocl {
  display: none;
}
.jstree ul ul {
  margin: 0 0 0 1rem;
  padding: 0;
  list-style: none inside;
  display: block;
  font-weight: 400;
}
.jstree ul li .checkbox {
  line-height: 1;
}
.jstree ul li .checkbox .caption,
.jstree ul li .checkbox .check {
  line-height: 1;
}
.jstree ul li .checkbox,
.jstree ul li .radio,
.jstree ul li .switch {
  height: 24px;
}
.jstree ul .jstree-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 8px 0;
}
.jstree ul .jstree-anchor .jstree-themeicon {
  margin: 0 5px 0 3px;
}
.jstree ul .jstree-anchor .jstree-checkbox {
  display: block;
  line-height: 1;
  font-size: 14px;
  margin: 0 4px;
  position: relative;
  border: 2px #d9d9d9 solid;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}
.jstree ul .jstree-anchor .jstree-checkbox::before {
  position: absolute;
  vertical-align: middle;
  font-size: 0;
  content: "";
  height: 5px;
  width: 10px;
  background-color: transparent;
  color: transparent;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #fff;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -4px;
  display: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.jstree ul .jstree-anchor .jstree-checkbox.jstree-undetermined {
  border-color: #1d1d1d;
  background-color: #1d1d1d;
}
.jstree ul .jstree-anchor .jstree-checkbox.jstree-undetermined::before {
  display: block !important;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 2px solid #fff;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.jstree ul .jstree-anchor .jstree-checkbox .caption {
  display: block;
  line-height: 1;
  font-size: 14px;
  margin: 0 4px;
  position: relative;
}
.jstree ul .jstree-anchor.jstree-clicked .jstree-checkbox {
  border-color: #1d1d1d;
  background-color: #1d1d1d;
}
.jstree ul .jstree-anchor.jstree-clicked .jstree-checkbox::before {
  display: block !important;
}

.jstree-dnd-parent {
  border-top: 2px solid #3e79f7 !important;
}
